<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.DesignMapper">
	<!-- 根据 uid 查找对应的 设计 -->
	<select id="findDesignByUid" parameterType="int" resultType="Design">
		select * from ring_design where uid=#{uid}
	</select>
	<!-- 添加设计到数据库中 -->
	<insert id="addNewDesign" parameterType="Design">
		insert into ring_design(uid,dPhoto,dlink,dCreateDate,dname,dMessage) 
		values(#{uid},#{dPhoto},#{dlink},#{dCreateDate},#{dname},#{dMessage})
	</insert>
	<resultMap type="Invitation" id="invitationMap">
		<id property="invid" column="invid"/>
		<association property="uid" javaType="User">
			<id property="uid" column="uid"/>
			<result property="userName" column="userName"/>
			<result property="userAlice" column="userAlice"/>
			<result property="userPhoto" column="userPhoto"/>
		</association>
	</resultMap>
	<!-- 添加帖子到数据库中 -->
	<insert id="addNewInvitation" parameterType="Invitation">
		insert into ring_invitation(uid,invTitle,invMessage,invCreatDate,status) 
		values(#{uid.uid},#{invTitle},#{invMessage},#{invCreatDate},0)
	</insert>
	<!-- 查找所有的invitation -->
	<select id="findAllInvitation" resultMap="invitationMap">
		select * from ring_invitation left join ring_user on ring_invitation.uid=ring_user.uid where status=1
	</select>
	<!-- 根据invid查找invitation -->
	<select id="findInvitationById" resultMap="invitationMap">
		select * from ring_invitation left join ring_user on ring_invitation.uid=ring_user.uid where invid=#{invid}
	</select>
	<!-- 根据invTitle查找invitation -->
	<select id="findInvitationByTitle" resultMap="invitationMap">
		select * from ring_invitation left join ring_user on ring_invitation.uid=ring_user.uid where invTitle=#{invTitle}
	</select>
	<!-- 根据invid删除自己的invitation信息 -->
	<delete id="delInvitationById" parameterType="int">
		delete from ring_invitation where invid=#{invid}
	</delete>
	<!-- 根据invid删除invitationAns信息 -->
	<delete id="delInvitationAnsByInvId" parameterType="int">
		delete from ring_invitation_ans where invid=#{invid}
	</delete>
	<!-- 根据aid删除invitationAns信息 -->
	<delete id="delInvitationAnsById" parameterType="int">
		delete from ring_invitation_ans where aid=#{aid}
	</delete>
	<!-- 添加回复invitationans信息 -->
	<insert id="addNewInvitationAns" parameterType="InvitationAns">
		insert into ring_invitation_ans(uid,invid,ansMessage,ansDate) 
		values(#{uid},#{invid},#{ansMessage},#{ansDate})
	</insert>
	<resultMap type="InvitationAns" id="invitationAnsMap">
		<id property="aid" column="aid"/>
		<association property="user" javaType="User">
			<id property="uid" column="uid"/>
			<result property="userAlice" column="userAlice"/>
			<result property="userPhoto" column="userPhoto"/>
		</association>
	</resultMap>
	<!-- 查找invid对应的所有的invitationans -->
	<select id="findAllInvitationAns" resultMap="invitationAnsMap">
		select * from ring_invitation_ans left join ring_user on ring_invitation_ans.uid=ring_user.uid where ring_invitation_ans.invid=#{invid}
	</select>
	<!-- 审核通过 -->
	<update id="updateInvitationSuccess" >
		update ring_invitation set status=1,invAuditDate=#{invAuditDate} where invid=#{invid}
	</update>
	<!-- 审核未通过 -->
	<update id="updateInvitationNo" >
		update ring_invitation set status=2,invAuditDate=#{invAuditDate} where invid=#{invid}
	</update>
</mapper>



