<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.GoodsStoreMapper">
	
<!-- 根据 uid和gid 判断用户是否收藏对应贴子 -->
	<select id="findgoodsStoreByUidAndGid" resultType="goodsstore">
		select * from ring_goodsstore 
			where uid=#{uid} and gid=#{gid}
	</select>
	<!-- 收藏贴子 -->
	<insert id="addNewgoodsstore">
		insert into ring_goodsstore(uid,gid)
			values(#{uid},#{gid})
	</insert>
	<!-- 取消收藏 -->
	<delete id="delgoodsStoreByUidAndgid">
		delete from ring_goodsstore 
			where uid=#{uid} and gid=#{gid}
	</delete>
	
</mapper>



